@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #848587, #262326);

}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: (10px 10px 10px rgb(207, 175, 175));
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #D99938 ;
    text-align: center;
    text-shadow: 1px 1px 2px #8c5503 ;

}

h2{
    color:#CA3422;

}

p{
    text-align: justify;
    color: ;
}